<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-style'}) do |f| %>
<h1 class="h3 mb-3 fw-normal">Inscription</h1>

  <div class="form-floating">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'name@example.com' %>
    <%= f.label :email %>
  </div>

  <div class="form-floating">
    <%= f.text_field :first_name, autofocus: true, autocomplete: "Prénom", class: 'form-control', placeholder: 'Tony' %>
    <%= f.label :first_name %>
  </div>

  <div class="form-floating">
    <%= f.text_field :last_name, autofocus: true, autocomplete: "Nom", class: 'form-control', placeholder: 'Montana' %>
    <%= f.label :last_name %>
  </div>
  <div class="form-floating">
    <%= f.password_field :password, autofocus: true,autocomplete: "new-password", class: 'form-control', placeholder: 'Mot de passe' %>
    <%= f.label :password %>
  </div>

    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>

  <div class="form-floating mb-3">
    <%= f.password_field :password_confirmation, autofocus: true,autocomplete: "new-password", class: 'form-control', placeholder: 'Password again' %>
    <%= f.label :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "S'inscrire", class: 'w-100 btn mb-3 btn-lg btn-primary'  %>
  </div>
  <%= render "devise/shared/links" %>
  <p class="mt-3 mb-3 text-muted">© 2021</p>
<% end %>