<p>Ton profil</p>
<br />
<!-- THis will be put in a proper form later -->
<%= current_user.first_name %>
<br />
<%= current_user.last_name %>
<br />
<%= current_user.email%>
<br />
<%= current_user.phone_number %>
<br />
<br />

<%= link_to 'Edit', edit_user_registration_path %> |
<%= link_to 'Back', root_path %>
