<div class="container d-flex py-5">
	<div class="col-4 d-flex justify-content-end align-content-center">
			<%if @user.avatar.attached?%>
	  		<%= image_tag @user.avatar, alt: 'avatar', width: "220", height: "220", class: "rounded-circle" %>
			<%else%>
	  		<img src="https://media.istockphoto.com/vectors/user-icon-flat-isolated-on-white-background-user-symbol-vector-vector-id1300845620?b=1&k=20&m=1300845620&s=170667a&w=0&h=JbOeyFgAc6-3jmptv6mzXpGcAd_8xqkQa_oUK2viFr8=", alt="avatar", width="220", height="220", class="rounded-circle">
			<%end%>
</div>
	<div class="col-8 my-auto py-auto">
		<div class="ms-3 mb-2 align-middle">
			<span class="fs-2 fw-bold">Mon profil</span>
			<div class="ms-3 d-inline">
				<%= link_to 'Edit', edit_user_registration_path, class: "btn-sm btn-primary" %>
			</div>
		</div>
		<div class="ms-4">
			<p><%= current_user.first_name %></p>
			<p><%= current_user.last_name %></p>
			<p><%= current_user.email%></p>
			<p><%= current_user.phone_number %></p>
			<h5 class="pb-2">Changer mon avatar ?</h5>
			<%= form_tag user_avatars_path(@user), multipart: true do %>
	  		<%= file_field_tag :avatar, class: 'form-control form-control-sm' %>
	  		<%= submit_tag "Mettre à jour", class: 'btn-sm btn-primary my-3' %>
			<% end %>

			<%= link_to 'Back', root_path, class: "btn-sm btn-primary" %>
		</div>
	</div>
</div>
<div class="border-bottom text-center pb-3">
	<span class="fs-3 fw-bold">Ma paresseuse collection</span>
</div>
<%# <% if @user.pictures.length > 0 %>
	<div class="container">
		<%= render 'pictures_order/bought' %>
	</div>
<%# <% end %>