<%= render 'layouts/tagbar'%>
<div class="banner-lg-1">
  <div>
    <h1 class="display-4 txt-outline">The Sloth Project</h1>
    <%= link_to 'Découvrez tous nos paresseux', pictures_path, class: "btn btn-warning btn-hero btn-xl" %>
  </div>
</div>

<div class="container">

  <div class="intro-index-content">
    <div class="intro-elements">
      <i style="font-size: 6em; color: Tomato" class="fas fa-cat mb-3"></i>
      <p>Marre des chatons mignons ? Bienvenue dans le monde des paresseux</p>
      <i>“Dans le monde idéal, les paresseux donneront des cours de relaxation.”</i>
    </div>

    <div class="intro-elements">
      <i style="font-size: 6em; color: Tomato" class="fas fa-camera-retro mb-3"></i>
      <p>De Tombuktu à Paris, des photographies d'exception</p>
      <i>Qui ont su saisir nos paresseux sur l'instant</i>
    </div>

    <div class="intro-elements">
      <i style="font-size: 6em; color: Tomato" class="fas fa-bed mb-3"></i>
      <p>Une équipe de flemmards à votre service</p>
      <i>Pour le meilleur et pour le pire </i>
    </div>

    <div class="intro-elements">
      <i style="font-size: 6em; color: Tomato" class="far fa-thumbs-up mb-3"></i>
      <p>Selectionnez, achetez : simple comme bonjour</p>
      <i>The Sloth Project, le e-commerce aussi flemmarde que vous </i>
    </div>
  </div>
</div>

  <div class="banner-lg-2">
  <div>
    <h2 class="display-4 txt-outline">On nage dans le succès</h2>
    <%= link_to 'Notre équipe', team_index_path, class: "btn btn-warning btn-hero-team btn-xl" %>
  </div>
</div>

<div class="container mt-5 ">
  <div class="feedback-elements">
    <h3>Un service plésbiscité par une communauté de passionnés</h3>
    <i style="font-size: 3em; color: gold" class="fas fa-star"></i>
    <i style="font-size: 3em; color: gold"class="fas fa-star"></i>
    <i style="font-size: 3em; color: gold" class="fas fa-star"></i>
    <i style="font-size: 3em; color: gold"class="fas fa-star"></i>
    <i style="font-size: 3em; color: gold" class="fas fa-star"></i>
    <h4>Sur le forum slothgeek.org</h4>
  </div>

  <div class="feedback-elements">
    <i style="font-size: 6em; color: tomato" class="fas fa-skating"></i>
    <h1>Ils ont sauté le pas !</h1>
    <h4>Et vous ?</h4>
    <blockquote class="blockquote">
    <p>"Une expérience client incroyable, ma photo de paresseux n'est toujours pas imprimée mais j'adore !"</p>
    <footer class="blockquote-footer"><%= @users.sample.first_name%> <%= @users.sample.last_name%></footer>
    </blockquote>
      <blockquote class="blockquote">
    <p>"Une expérience client incroyable, ma photo de paresseux n'est toujours pas imprimée mais j'adore !"</p>
    <footer class="blockquote-footer"><%= @users.sample.first_name%> <%= @users.sample.last_name%></footer>
    </blockquote>
  </div>
</div>
