	<nav class="py-2 bg-light border-bottom border-top">
    <div class="container d-flex justify-content-center">
      <ul class="nav">
      	<li class="nav-item"><a href="" class="pe-none nav-link link-dark px-2 active" aria-current="page">Filtrer par tags :</a></li>
      	<% @tags_all.each do |tag|%>
        	<li class="nav-item"><a href="/tags/<%= tag.id %>" class="nav-link link-dark px-2 active" aria-current="page"><%= tag.title.capitalize %></a></li>
        <% end %>
      </ul>
    </div>
  </nav>
<div class="container my-4">


<div class="picture-index-content">
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.pictures.each do |picture| %>
    <% @tagspicture = TagsPicture.where(picture: picture) %>
      <tr class="picture-elements">
        <a href="<%= picture_url(picture) %>"><img src="<%= picture.image_url %>", style="width: 300px; height: 337px; object-fit: cover;"/></a>
        <% @tagspicture.each do |tagpicture| %>
          <p><button class="btn mb-3 btn-sm btn-info"><%= tagpicture.tag.title %></button></p>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Picture', new_picture_path %>
