<div class="row">
    <div class="col-8 p-0">
      <a href="/pictures/<%= @picture_sample.id %>">
        <div class="hover hover-2 text-white" style="width: 70%;height: 15%;margin-bottom: 10px;"><img style="width: 100%; height: 100%; object-fit: cover;" src="<%= @picture_sample.image_url %>" alt="">
          <div class="hover-overlay"></div>
          <div class="hover-2-content px-5 py-4">
            <h5 class="hover-2-description text-uppercase font-weight-bold mb-0"><%= @picture_sample.title %></h5>
          </div>
        </div>
      </a>
      <a href="/pictures/<%= @picture_sample2.id %>">
        <div class="hover hover-2 text-white" style="width: 70%;height: 15%;margin-bottom: 10px;"><img style="width: 100%; height: 100%; object-fit: cover;" src="<%= @picture_sample2.image_url %>" alt="">
          <div class="hover-overlay"></div>
          <div class="hover-2-content px-5 py-4">
            <h5 class="hover-2-description text-uppercase font-weight-bold mb-0"><%= @picture_sample2.title %></h5>
          </div>
        </div>
      </a>
      <a href="/pictures/<%= @picture_sample3.id %>">
        <div class="hover hover-2 text-white" style="width: 70%;height: 15%;margin-bottom: 10px;"><img style="width: 100%; height: 100%; object-fit: cover;" src="<%= @picture_sample3.image_url %>" alt="">
          <div class="hover-overlay"></div>
          <div class="hover-2-content px-5 py-4">
            <h5 class="hover-2-description text-uppercase font-weight-bold mb-0"><%= @picture_sample3.title %></h5>
          </div>
        </div>
      </a>
    </div>
</div>