<%= render 'layouts/tagbar'%>
<%= render 'cards' %>

<%# A supprimer %>

<!-- <div class="container my-4">

  <%= form_for pictures_path, method: 'get' do |f| %>
    <div class="field">
      <% @tags.each do |tag| %>
        <%= f.label "#{tag.title}" %>
        <%= f.check_box :search_id, {}, tag.id, '' %>
      <% end %>
    </div>
    <div class="actions">
      <%= f.submit "Trier" %>
    </div>
  <% end %>
  <ul>
  <% @tags.each do |tag| %>
      <li>
        <%= check_box_tag 'search_ids[]', tag.id -%>
        <%= h tag.title -%>
      </li>
  <% end %>
  </ul>

</div> -->

<!-- <div class="picture-index-content">
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <div class="picture-elements">eight: 100%; object-fit: cover;"/>
        </a>
      </div>
    <% end %>
  </tbody>
</table> -->
