<div class="container">
    <h1>Mon panier</h1>
    <br/>
    <br/>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Quantité</th>
                        <th scope="col">Nom de produit</th>
                        <th scope="col">Prix unitaire</th>
                        <th scope="col">Prix selon quantité</th>
                        <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody>
                        <% @cards.each do |card| %>
                            <tr>
                            <td><%= Card.where(user: current_user, picture: card.picture.id).length %></td>
                            <th scope="row"><%= card.picture.title %> <div></div>
                            <img class="thumbnail" src=<%=card.picture.image_url%>
                            </th>
                            <td><%= card.picture.price %> euros</td>
                            <td><%= card.picture.price*Card.where(user: current_user, picture: card.picture.id).length %></td>
                            </tr>
                        <% end %>
<tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td></td>
                            <td></td>
                            </tr>
                            <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td>Prix total : <%= session[:amount] %>€</td>
                            </tr>
                    </tbody>
                </table>
            </div>
            <%=link_to 'Passer la commande', new_order_path, class: 'btn btn-outline-dark'%>
        </div>
</div>
<%if @cards.size <= 1%>
<%=u = Card.create(user: current_user, picture: @picture)%>
<%else%>
<%=u = @item.first%>
<%end%>
