<tbody>
  <% @cards.each do |card| %>
    <tr>
    <div>
    <img class="thumbnail" src=<%=card.picture.image_url%>>
    </div>
      <td><%= card.picture.title %></td>
      <td><%= card.picture.price %> euros</td>
      Quantité : <%= Card.where(user: current_user, picture: card.picture.id).length %>
      <button>Supprimer</button>
      <button>Ajouter</button>
    </tr>
  <% end %>
</tbody>
<br>

Total quantité : <%= Card.where(user: current_user).length %>
Total achat : <%= session[:amount] %>

<%= button_to "Acheter", {:controller => "orders", :action => 'create', :amount => session[:amount] }, :method => :post, class: "btn btn-danger" %>

<button><p><%= link_to 'Continuer mes achats', root_path %></p>
</button>
