<navbar>
  <div id= "nb-left-elts">
    <div class="logo nb-elt">The Sloth Project</div>
    <button class="nb-elt"><%= link_to "Accueil", root_path %></button>
  </div>
  <div id= "nb-right-elts">
    <button class="nb-elt"><%= link_to "S'inscrire", new_user_registration_path %></button>
    <button class="nb-elt"><%= link_to 'Se connecter', new_user_session_path %></button>
    <%# <button class="nb-elt"><%= link_to 'Mon profil', user_path(current_user) %>
    <button class="nb-elt"><%= link_to 'Mon Panier', cards_path %></button>
    <%= button_to "Se déconnecter", destroy_user_session_path, :method => :delete, class: "btn btn-danger me-2" %>
  </div>
</navbar>
